.cartItemMainContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.cartItemContainer{
    max-width: 72rem;
    display: flex;
    justify-content: start;

}

.checkItems{
    width: 60%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.totalItemContainer{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 1rem;

    justify-content: space-between;
}

.totalItemTexts{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 5rem;

}

.yourCartText{
    line-height: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(40, 93, 40);
}

.summaryText{
    font-weight: 600;
    font-size: 3rem;
    color: rgb(53, 125, 53);
}

.totalItemText{
    font-weight: 600;
    font-size: 1.5rem;
    color: rgba(29, 26, 26, 0.796);
}

.totalAmountText{
    font-weight: 600;
    font-size: 1.5rem;
    color: rgba(29, 26, 26, 0.796);

}

.amountContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.amountText{
    color: rgba(0, 0, 0);
}

.checkOutButton{
    width: 100%;
    height: 3rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    border: 1px solid white;
    border-radius: 0.5rem;
    background-color: rgb(21 128 61);
    transition: all 0.5s ease-in;
}

.checkOutButton:hover{
    color: rgb(21 128 61);
    border: 1.5px solid rgb(21 128 61);
    background-color: white;
}