body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: inherit;
}

code {
  font-family: "Poppins", sans-serif,
    monospace;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%,#474bff);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
  animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
  to {
     transform: rotate(1turn);
  }
}

.noBlogFound{
  text-align: center;
}

.cartContainerMain{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
}

.cartContainer{
  max-width: 72rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}







.ItemContainer{
  width: 100%;
  height: 100%;
}